bitrix/cache
bitrix/managed_cache
bitrix/.settings.php
bitrix/php_interface/dbconn.php
bitrix/stack_cache
bitrix/backup/
bitrix/upload/
bitrix/
upload
local/include
sitemap*
bitrixsetup.php
restore.php
bitrix/modules/updater_partner.log
sitemap*
ru/sitemap*
robots.txt
!/local/templates/main/components/bitrix/
docker-stuff/log


frontend/node_modules
frontend/bower_components
frontend/build


.DS_Store
site_checker_*.*
.idea/
*.sublime-workspace
.buildpath
.project
.settings
nbproject
Thumbs.db
.~lock.*
*.conf
ubuntu-*.log


!vendor
/vendor


.rocketeer/logs


.vagrant

logs.log

.idea/